
select {
	width: 350px;
    display: inline;
     border: 1px solid #AAA;
    border-radius: 5px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: #555;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 7px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.jumbotron{
    padding: 5px;
    
}
.jumbotron h3{
    padding-top: 50px;
}
.page-item {
	display: inline;
border: 1;
  background-color: #EEEEEE;
    padding: 8px 8px;
    text-decoration:none;
    font-weight:bold;
    border-radius:5px;
    cursor:pointer;

}
.active{
background-color: blue;
}

li.disabled{
    pointer-events: none;
}

.table, .table-responsive
{overflow: hidden;
margin-top: 30px;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  #nav li {
    float: left;
  }
  
  #nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #nav li a:hover {
    background-color: #111;
  }